<div id="authentication">
    <div class="container">
        <div class="row  vh-100 d-flex align-items-center justify-content-center ">
            <div class="col-md-6 col-lg-4">
                <div class="logo mb-4" >
                    <img src="assets/images/logo_header.png" alt="">
                </div>
                <mat-card>

                    <div class="main-form">
                       

                        <div class="mt-4">
                          <form [formGroup]="forgetForm">
                           <div class="form-heading">
                                <h3>Forgot Password</h3>
                                <p>Enter your registered email ID here </p>
                            </div>

                            <mat-label>Email</mat-label>
                            <mat-form-field class="w-100" appearance="outline">
                                <input matInput placeholder="Enter Registered Email Address" formControlName = "email" (keydown.space)="$event.preventDefault()">
                            </mat-form-field>
                            <div class="text-danger" *ngIf="submitted && f['email'].errors">
                                <div *ngIf="f['email'].errors['required'] ">Please enter email
                                </div>
                              </div>
                              <div class="text-danger" *ngIf="submitted && f['email'].errors">
                                <div *ngIf="f['email'].errors['email'] ">Please enter valid email
                                </div>
                              </div>
                            <div class="form-button m-0">
                                <button mat-flat-button color="primary" (click)="forgetPass()" >Send Link</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>